/* [project]/styles/globals.css [app-client] (css) */
*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.mansonry {
  -moz-columns: 10;
  columns: 10;
  gap: 1.25rem;
  position: relative;
}

.mansonry:has(figure:hover) figure:hover figcaption {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

@media screen and (max-width: 1720px) {
  .mansonry {
    -moz-column-count: 9;
    column-count: 9;
  }
}

@media screen and (max-width: 1520px) {
  .mansonry {
    -moz-column-count: 8;
    column-count: 8;
  }
}

@media screen and (max-width: 1420px) {
  .mansonry {
    -moz-column-count: 7;
    column-count: 7;
  }
}

@media screen and (max-width: 1200px) {
  .mansonry {
    -moz-column-count: 5;
    column-count: 5;
  }
}

@media screen and (max-width: 960px) {
  .mansonry {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: 640px) {
  .mansonry {
    -moz-column-count: 2;
    column-count: 2;
  }
}

.mansonry figure {
  cursor: pointer;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  grid-template-rows: 1fr auto;
  margin: 0 0 1.25rem;
  padding: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: grid;
  position: relative;
  overflow: hidden;
}

.mansonry figure div {
  grid-area: 1 / 1 / -1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mansonry figure div:after {
  pointer-events: none;
  z-index: 50;
  --tw-saturate: saturate(3);
  width: 100%;
  height: 0;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-content: "";
  content: var(--tw-content);
  background-image: linear-gradient(to top, #1119, #0000);
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.mansonry figure div:hover:after {
  content: var(--tw-content);
  height: 100%;
}

.mansonry figure figcaption {
  pointer-events: none;
  z-index: 50;
  --tw-translate-y: 2rem;
  width: 100%;
  height: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
  text-shadow: 1px 0 7px #000a;
  padding: 1.25rem 1rem;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  bottom: .75rem;
  left: 1rem;
}

.mansonry figure:has(.loaded) img {
  opacity: 1;
}

.mansonry figure:has(.loaded) .placeholder {
  opacity: 0;
}

@keyframes scaling {
  from {
    scale: 1;
  }

  to {
    scale: 1.2;
  }
}

@keyframes placehold {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@font-face {
  font-family: Highland Jakarta;
  src: url("/_next/static/media/HighJakarta.d1b3bbee.woff2");
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  interpolate-size: allow-keywords;
  background: linear-gradient(#e5e7ebcc, #e5e7ebcc), url("/_next/static/media/blurred.0b4acc7b.avif");
  height: fit-content;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  transition-duration: .2s;
  position: relative;
  overflow-x: hidden;
}

body:has(.fav) {
  overflow: hidden;
}

body {
  background-size: cover !important;
  background-attachment: fixed !important;
}

.squircle {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@supports (corner-shape: squircle) {
  .squircle {
    corner-shape: squircle;
    border-radius: 100px;
  }
}

@view-transition {
  navigation: auto;
}

[style*="view-transition-name"][style*="figure-"] {
  contain: layout;
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: none;
}

::view-transition-old(figure-caption) {
  animation: .3s ease-out fadeOut;
}

::view-transition-new(figure-caption) {
  animation: .3s ease-in .1s fadeIn;
}

@keyframes scaleUp {
  from {
    opacity: .5;
    scale: .5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(.5);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

nav {
  z-index: 11;
  isolation: isolate;
  anchor-name: --hovered-link;
  width: fit-content;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  translate: -50%;
}

nav ul {
  z-index: 999;
  flex-flow: wrap;
  align-items: flex-start;
  list-style: none;
  transition: all .2s;
  display: flex;
  position: relative;
}

nav ul li {
  cursor: pointer;
  text-transform: lowercase;
  z-index: 1;
  font-weight: 400;
  transition: all .2s;
  position: relative;
}

nav ul li:hover {
  anchor-name: --hovered-link;
}

nav:after {
  content: "";
  top: calc(anchor(bottom)  - 10px);
  left: calc(anchor(left)  + 1rem);
  right: calc(anchor(right)  + 1rem);
  bottom: calc(anchor(bottom)  + 9px);
  position-anchor: --hovered-link;
  z-index: 2;
  background: #000;
  transition: all .2s;
  position: absolute;
}

nav .activee {
  anchor-name: --hovered-link;
}

/* [project]/styles/Nav.css [app-client] (css) */
nav {
  z-index: 11;
  isolation: isolate;
  anchor-name: --hovered-link;
  width: fit-content;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  translate: -50%;
}

nav ul {
  z-index: 999;
  flex-flow: wrap;
  align-items: flex-start;
  list-style: none;
  transition: all .2s;
  display: flex;
  position: relative;
}

nav ul li {
  cursor: pointer;
  text-transform: lowercase;
  z-index: 1;
  font-weight: 400;
  transition: all .2s;
  position: relative;
}

nav ul li:hover {
  anchor-name: --hovered-link;
}

nav:after {
  content: "";
  top: calc(anchor(bottom)  - 10px);
  left: calc(anchor(left)  + 1rem);
  right: calc(anchor(right)  + 1rem);
  bottom: calc(anchor(bottom)  + 9px);
  position-anchor: --hovered-link;
  z-index: 2;
  background: #000;
  transition: all .2s;
  position: absolute;
}

nav .activee {
  anchor-name: --hovered-link;
}

/*# sourceMappingURL=styles_47f2c9ae._.css.map*/