@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body{
    background: #3A3B3C;
  }
  nav ul{
	  background:#3A3B3Caa;

    li{
      color:#dddddd !important
    }
	
  }
  .presentation{
    background:#233A3B3C;
  }
  .presentation *{
    color: #cecece !important;
  }
}