@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Highland Jakarta';
    src: url('./assets/HighJakarta.woff2');
}

body{ 
    @apply overflow-x-hidden duration-200 [&:has(.fav)]:overflow-hidden h-fit [interpolate-size:allow-keywords] [background:linear-gradient(to_bottom,#e5e7ebcc,#e5e7ebcc),url(./assets/blurred.avif)]; 

    background-attachment: fixed !important;
    background-size: cover !important;
}