body{
    @apply overflow-x-hidden bg-[#efefef] duration-200 [&:has(.fav)]:overflow-hidden
}
.mansonry {

    @apply relative columns-8 gap-x-12;

    @media screen and (max-width:1920px) {column-gap: 30px;}
    @media screen and (max-width:1720px) {column-count: 7;}
    @media screen and (max-width:1520px) {column-count: 6;}
    @media screen and (max-width:1420px) {column-count: 5;}
    @media screen and (max-width:1200px) {column-count: 3;}
    @media screen and (max-width:960px) {column-count: 2;}
    
    #todos {@apply hidden [scale:0] pointer-events-none opacity-0 m-0 p-0}

    > span:not(.todos){ @apply block mb-10 }

    figure {
        @apply m-0 [grid-template-rows:1fr_auto] mb-10 break-inside-avoid relative rounded-xl duration-200 cursor-pointer overflow-hidden backdrop-blur-xl
               [&:hover:before]:animate-[shine_0.4s_forwards] sm:[&:hover:before]:mix-blend-plus-lighter grid

               before:content-[''] before:block before:absolute before:w-0 before:h-full before:left-0 
               before:top-0 before:z-50 before:opacity-0 before:-skew-x-[35deg] before:saturate-[3] 
               before:[box-shadow:0_0_25px_10px_#ffffff77] md:before:[box-shadow:0_0_25px_10px_currentColor];

        img {
            @apply [grid-row:1/-1] [grid-column:1] max-w-full block duration-100 rounded-xl relative bg-[#00000011] hover:scale-105 
        }

        figcaption {
            @apply absolute bottom-0 left-0 z-50 w-full h-full pointer-events-none px-4 py-5 duration-300 transition-opacity
        }
    }
}



@keyframes shine {
    from {
      opacity: 0;
      left: -10%;
    }
  
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
}

.splide{
    @apply h-dvh;
    .splide__track{ 
        @apply h-dvh;
        li{
            @apply translate-y-5
        } 
    }
}



*::-webkit-scrollbar,
*::-webkit-scrollbar{
    width:.8em ;
    background:#222
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb{
    background-color:#000 
}


@keyframes scaling{
    from{ opacity: 0; }
    to{ opacity:1 }
}

.slider {
    button{
        @apply bg-none;
        svg{
            @apply fill-white
        }
    }
    .splide{
        @apply h-[110vh] ;

        .splide__track{
            @apply h-[110vh];
        }
        img{
          @apply [mask-image:linear-gradient(to_bottom,_black_50%,_transparent_70%)] object-contain h-screen w-full;
        }
    }
    &:has(.is-active){
        @apply [mask-image:url("src/assets/gif.gif")] [mask-size:cover] [mask-position:center];
    }
}
