nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        transition: .2s;
        z-index: 999;
        flex-wrap: wrap;
        position: relative;

        li {
            cursor: pointer;
            transition: .2s;
            position: relative;
            font-weight: 400;
            text-transform: lowercase;
            mask-composite: subtract;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center,center 23px;
            z-index: 1;

            &::before{
                content: '';
                position: absolute;
                left: -5px;
                top: 0;
                height: 3rem;
                width: 1rem;
                background: #fff;
                z-index: 1;
            }
            &::after{
                content: '';
                position: absolute;
                right: -5px;
                top: 0;
                height: 3rem;
                width: 1rem;
                background: #fff;
                z-index: 1;
            }
            &:first-of-type{
                &::before{
                    display: none;
                }
            }
            &:last-of-type{
                &::after{
                    display: none;
                }
            }
        }
        .active {
            opacity: 1;
            mask-image: linear-gradient(to bottom, #000 100%, transparent), url('./assets/triangle.svg');
        }
    }
}

