nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        row-gap: 5px;
        column-gap: 16px;
        margin-inline: auto;
        align-items: flex-start;
        transition: .2s;
        z-index: 999;
        flex-wrap: wrap;

        li {
            cursor: pointer;
            transition: .2s;
            position: relative;
            font-weight: 400;
            text-transform: lowercase;
            white-space: nowrap;
        }
        .active {
            opacity: 1;
            text-decoration: overline;
        }
        .jogos {
            &:hover::before {
                opacity: 1;
            }

            &::before {
                content: "filmes/series";
                font-size: .9rem;
                position: absolute;
                bottom: -30px;
                width: auto;
                left: -30px;
                padding: 0px 7px;
                font-weight: 400;
                opacity: 0;
                font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
                    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
                    "Segoe UI Symbol", "Noto Color Emoji";
            }
        }

    }

}

