nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        transition: .2s;
        z-index: 999;
        flex-wrap: wrap;
        position: relative;

        li {
            cursor: pointer;
            transition: .2s;
            position: relative;
            font-weight: 400;
            text-transform: lowercase;
            z-index: 1;
        }

    }
}

